<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление задачи</title>
</head>
<body>
<h2>Добавление задачи</h2>
<form action="#" data-th-action="${urlWeb}" data-th-object="${task}" method="post">
    <table>
        <tbody>
        <tr>
            <td>
                <label for="name">Название</label>
            </td>
            <td>
                <input type="text" size="100" data-th-field="*{name}" id="name" placeholder="назовите задачу (кратко по сути)">
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Описание</label>
            </td>
            <td>
                <textarea rows="5" cols="100" data-th-field="*{description}" id="description" placeholder="опишите задачу подробно"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Добавить">
</form>
</body>
</html>