<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{{url}/css/tasks.css(url=${urlweb})}" />
    <title>Текущие задачи вэб-разработчика</title>
    <style data-th-inline="css">
        .[[${status}]]-task {
            background-color: cornsilk;
            color: black;
            width: 27px;
        }
    </style>
</head>
<body>

<div data-th-switch="${list}" class="container bk-color">
    <h2 data-th-case="null">No records found!</h2>
    <div data-th-case="*" class="col-ms-12 main-list">
        <form method="get" data-th-action="@{/lk}" style="display: flex;justify-content: flex-end;">
            <div style="width: 100%; text-align: center;"><h2>СПИСОК ЗАДАЧ</h2></div>
            <input type="submit" class="menu-button lets-icons--user-box" value="">
        </form>
        <div class="big-folder">
            <div class="color-folders">
                <form method="get" data-th-action="@{{url}/tasks/urgent(url=${urlWeb})}">
                    <input type="submit" class="status-folder urgent-task" value="срочные">
                </form>
                <form method="get" data-th-action="@{{url}/tasks/new(url=${urlWeb})}">
                    <input type="submit" class="status-folder new-task" value="новые">
                </form>
                <form method="get" data-th-action="@{{url}/tasks/progress(url=${urlWeb})}">
                    <input type="submit" class="status-folder progress-task" value="в работе">
                </form>
                <form method="get" data-th-action="@{{url}/tasks/paused(url=${urlWeb})}">
                    <input type="submit" class="status-folder paused-task" value="остановленные">
                </form>
                <form method="get" data-th-action="@{{url}/tasks/completed(url=${urlWeb})}">
                    <input type="submit" class="status-folder completed-task" value="готовы">
                </form>
                <form method="get" data-th-action="@{{url}/(url=${urlWeb})}">
                    <input type="submit" class="status-folder all-task" value="все">
                </form>
            </div>

            <div  class="list-folder tasks-border">
                <div data-th-each="task : ${list}"  >
                    <div class="title">
                        <p data-th-text="${task.name}"></p>
                    </div>
                    <div class="folder">
                        <div class="inf">
                            <a data-th-href="@{{url}/task/{id}(url=${urlWeb},id=${task.id})}">
                                <div>
                                    <p><b>Создана:</b> <span data-th-text="${task.dateCreateGood}" class="ref"></span></p>
                                    <p><b>Описание:</b> <span data-th-text="${task.description}" class="ref"></span></p>
                                    <p><b>Статус:</b> <span data-th-text="${task.statusGood}" class="ref"></span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="get" data-th-action="@{{url}/add(url=${urlWeb})}" data-th-object="${Task}">
            <input type="submit" class="add-button" value="+">
        </form>

    </div>
</div>
</body>
</html>