.bk-color {
    background-color: #bcf3a1;
    padding: 0 5px 10px 5px;
}
.h1-title {
    text-align: center;
}
.main-list {
    margin-bottom: 20px;
}
.status-folder {
    writing-mode: vertical-lr;
    /*text-orientation: upright;*/
    padding: 20px 0;
    height: fit-content;
    border: none;
    -webkit-clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0% 90%);
}
.urgent-task {
    background-color: #ff6c00;
}
.new-task {
    background-color: #f9e914;
}
.progress-task {
    background-color: #001dfb;
    color: white;
}
.paused-task {
    background-color: red;
    color: white;
}
.completed-task {
    background-color: green;
    color: white;
}
.all-task {
    background-color: magenta;
    color: white;
}

.big-folder {
    display: flex;
    flex-direction: row;
}
.color-folders {
    width: 25px;
}
.list-folder {
    width: 100%;
    padding: 10px 0;
    border: 1px solid lightgray;
    background-color: cornsilk;
    box-shadow: 0 0 50px lightgray;
    overflow-y: auto;
}
.tasks-progress {
    box-shadow: 5px 5px 8px #d4d793;
}
.tasks-new {
    box-shadow: 5px 5px 8px #d4d793;
}
.folder {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 5px 30px 5px;
    padding: 5px;
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 8px #e4e4e4;
}
.folder p {
    margin: 0;
    color: green;
}
.inf {
    display: flex;
    margin: -2px 5px 0 10px;
    width: 100%;
    background-color: white;
}
.title {
    background-color: #dfdfdf;
    color: #2d2d2d;
    padding: 0 30px;
    margin-left: 5px;
    line-height: 20px;
    height: 20px;
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    width: max-content;
}
.task-menu {
/*    background-color: #ffffff;
    color: #2d2d2d;  */
    padding: 0 15px;
    margin-right: 5px;
    margin-bottom: 0;
    line-height: 20px;
    height: 20px;
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    width: max-content;
    border: none;
}
.menu-button {

}
.add-button {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: white;
    font-size: xxx-large;
    padding-bottom: 5px;
    background-color: green;
    -webkit-clip-path: circle(35px);
}
.bx--menu {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
@media (max-height: 719px) {
    .list-folder {
        max-height: 675px;
    }
}